@{
    ViewData["Title"] = "About";
}

<div class="col-md-6 text-justify flex-center">
    <h3> Par mums </h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi malesuada eros purus, sed dapibus mi rhoncus eget. Donec molestie, orci eu pellentesque ultrices, est ipsum tincidunt orci, at vehicula sem quam ut erat. Nam ac neque a augue finibus gravida. Maecenas bibendum porta velit quis dignissim. Phasellus dignissim tellus vitae neque pulvinar, et elementum tortor rhoncus. Donec augue ante, consequat in ex ac, pharetra mattis ante. Quisque nec enim nec lectus mattis pulvinar accumsan in purus. Cras in ligula a leo ultrices suscipit eu non augue. Duis lacinia dui vel sem egestas dignissim. Donec vestibulum venenatis sem nec luctus. Nunc viverra ullamcorper metus a aliquam. Sed vulputate libero non augue varius, id molestie erat pretium. Phasellus at nisi ac arcu interdum blandit quis at elit. Nulla eu dolor viverra, feugiat erat non, suscipit dolor.
        <br /><br />
        Nam aliquam orci eget commodo ornare. Phasellus suscipit leo at ipsum pretium, eget egestas orci lacinia. Aenean aliquam, urna non feugiat porta, sem nisl suscipit odio, nec euismod sem tellus eu nunc. Mauris ultrices eros lorem, in fringilla sem dictum in. Pellentesque quis congue nunc, vel dictum nisi. Duis sit amet faucibus felis. Sed aliquam ac erat sit amet cursus. Integer auctor velit massa, vitae molestie tortor fermentum vitae. Aenean bibendum ante odio.
        <br /><br />
        Suspendisse maximus varius libero pharetra ultricies. Duis et dolor nec felis convallis ullamcorper. Phasellus eu sagittis leo. Ut molestie rhoncus auctor. Fusce dignissim turpis eget est finibus, vitae consectetur ex pretium. Curabitur eu dolor nunc. Aliquam augue nunc, laoreet vel pellentesque sit amet, feugiat ac sapien. Integer placerat sed velit quis vulputate. Suspendisse tempus egestas ligula sed pretium.
        <br /><br />
        Aenean ac nunc tristique, convallis felis et, blandit enim. Pellentesque et blandit mauris. Nullam non rhoncus risus. Nunc facilisis iaculis elit, ac rhoncus odio venenatis non. Donec tincidunt elementum quam, eu dapibus mi congue ut. Suspendisse consectetur sagittis tincidunt. Fusce libero quam, pellentesque et metus eu, ultricies suscipit neque.
        <br /><br />
        Donec sollicitudin sit amet tortor accumsan porttitor. Mauris mauris mi, ultrices quis neque ut, pharetra lacinia augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed nec nunc a arcu finibus vulputate. Fusce ut venenatis diam. Suspendisse vel gravida ex, at aliquam urna. Curabitur et semper odio, ac mattis turpis. In varius eget erat vitae consectetur. Duis porttitor, ligula pretium venenatis volutpat, tortor massa blandit nisi, quis consectetur velit mauris vitae lorem. Maecenas vehicula metus vel libero pellentesque tincidunt. Mauris hendrerit nunc quis vulputate tristique.
    </p>
</div>
<div id="map-container-google-1" class="z-depth-1-half map-container col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!3m2!1slv!2slv!4v1573482723241!5m2!1slv!2slv!6m8!1m7!1s29q3_QrL-G5nWbhewTL-vw!2m2!1d56.97556190449062!2d24.132741315617913!3f0!4f-90!5f3.5225580368689258" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe></div>


